<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_community_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,937},{70,70}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{70,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_community_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,866},{70,70}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{70,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_go_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,933},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>btn_go_back_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,866},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>btn_gold_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,286},{42,43}}</string>
                <key>offset</key>
                <string>{68,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,8},{42,43}}</string>
                <key>sourceSize</key>
                <string>{192,55}</string>
            </dict>
            <key>btn_jpq_show_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,951},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>btn_jpq_show_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,951},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{68,64}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>btn_pass_card_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,191},{258,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,94}}</string>
                <key>sourceSize</key>
                <string>{258,94}</string>
            </dict>
            <key>btn_pass_card_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,191},{258,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,94}}</string>
                <key>sourceSize</key>
                <string>{258,94}</string>
            </dict>
            <key>btn_pass_card_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,96},{258,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,94}}</string>
                <key>sourceSize</key>
                <string>{258,94}</string>
            </dict>
            <key>btn_prompt_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,856},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>btn_prompt_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,888},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>btn_props.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,489},{74,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,148}}</string>
                <key>sourceSize</key>
                <string>{74,148}</string>
            </dict>
            <key>btn_ready_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,96},{258,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,94}}</string>
                <key>sourceSize</key>
                <string>{258,94}</string>
            </dict>
            <key>btn_ready_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,1},{258,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,94}}</string>
                <key>sourceSize</key>
                <string>{258,94}</string>
            </dict>
            <key>btn_reselect_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,761},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>btn_reselect_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,666},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>btn_reselect_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,666},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>btn_score_0_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1},{258,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,94}}</string>
                <key>sourceSize</key>
                <string>{258,94}</string>
            </dict>
            <key>btn_score_0_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{258,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,94}}</string>
                <key>sourceSize</key>
                <string>{258,94}</string>
            </dict>
            <key>btn_score_1_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,571},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>btn_score_1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,571},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>btn_score_1_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,793},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>btn_score_2_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,564},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>btn_score_2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,476},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>btn_score_2_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,476},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>btn_score_3_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,381},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>btn_score_3_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,381},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>btn_send_card_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,286},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>btn_send_card_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,286},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>btn_send_card_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,260},{228,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,94}}</string>
                <key>sourceSize</key>
                <string>{228,94}</string>
            </dict>
            <key>btn_set_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,793},{72,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{72,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_set_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,793},{72,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{72,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_scene_btn0.png</string>
            <key>size</key>
            <string>{614,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:689f5b511f92e6678a3cf1db61c9956b:1/1$</string>
            <key>textureFileName</key>
            <string>game_scene_btn0.png</string>
        </dict>
    </dict>
</plist>
