<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ttf_account_basic_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,94},{74,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,33}}</string>
                <key>sourceSize</key>
                <string>{74,33}</string>
            </dict>
            <key>ttf_account_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,79},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{74,33}</string>
            </dict>
            <key>ttf_account_multiple.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,60},{74,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,33}}</string>
                <key>sourceSize</key>
                <string>{74,33}</string>
            </dict>
            <key>ttf_account_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,45},{44,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{74,33}</string>
            </dict>
            <key>ttf_call_score_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1},{85,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,43}}</string>
                <key>sourceSize</key>
                <string>{85,43}</string>
            </dict>
            <key>ttf_call_score_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,60},{88,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,43}}</string>
                <key>sourceSize</key>
                <string>{88,43}</string>
            </dict>
            <key>ttf_call_score_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,60},{88,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,43}}</string>
                <key>sourceSize</key>
                <string>{88,43}</string>
            </dict>
            <key>ttf_call_score_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,60},{88,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,43}}</string>
                <key>sourceSize</key>
                <string>{88,43}</string>
            </dict>
            <key>ttf_gold_wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,45},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>ttf_pass_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,60},{89,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,43}}</string>
                <key>sourceSize</key>
                <string>{89,43}</string>
            </dict>
            <key>ttf_prompt_no_bigger.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{427,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,58}}</string>
                <key>sourceSize</key>
                <string>{427,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_scene_ttf0.png</string>
            <key>size</key>
            <string>{515,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a1e732d60f6284ed8f5695648b5eada:1/1$</string>
            <key>textureFileName</key>
            <string>game_scene_ttf0.png</string>
        </dict>
    </dict>
</plist>
