<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_close_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,167},{92,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>btn_more_games.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,145},{387,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,143}}</string>
                <key>sourceSize</key>
                <string>{387,143}</string>
            </dict>
            <key>btn_open_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,167},{92,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>btn_start_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{387,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,143}}</string>
                <key>sourceSize</key>
                <string>{387,143}</string>
            </dict>
            <key>card_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,97},{51,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,72}}</string>
                <key>sourceSize</key>
                <string>{53,72}</string>
            </dict>
            <key>card_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,245},{43,63}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{43,63}}</string>
                <key>sourceSize</key>
                <string>{49,65}</string>
            </dict>
            <key>card_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,159},{85,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,72}}</string>
                <key>sourceSize</key>
                <string>{85,74}</string>
            </dict>
            <key>card_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,97},{73,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{73,62}}</string>
                <key>sourceSize</key>
                <string>{79,68}</string>
            </dict>
            <key>card_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1},{48,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{48,68}}</string>
                <key>sourceSize</key>
                <string>{54,68}</string>
            </dict>
            <key>card_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,246},{41,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,59}}</string>
                <key>sourceSize</key>
                <string>{43,61}</string>
            </dict>
            <key>card_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,190},{98,99}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,99}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>card_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,160},{83,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{83,85}}</string>
                <key>sourceSize</key>
                <string>{91,91}</string>
            </dict>
            <key>card_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1},{90,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,95}}</string>
                <key>sourceSize</key>
                <string>{94,99}</string>
            </dict>
            <key>card_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,82},{76,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{76,82}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>card_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,190},{98,97}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{98,97}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>card_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1},{80,80}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{80,80}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>card_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1},{167,188}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{167,188}}</string>
                <key>sourceSize</key>
                <string>{179,202}</string>
            </dict>
            <key>card_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1},{143,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,165}}</string>
                <key>sourceSize</key>
                <string>{143,165}</string>
            </dict>
            <key>spr_version.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,261},{64,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{64,26}}</string>
                <key>sourceSize</key>
                <string>{70,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameStart0.png</string>
            <key>size</key>
            <string>{931,289}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1890c6dc92ae64ec9fb867574ecba790:1/1$</string>
            <key>textureFileName</key>
            <string>gameStart0.png</string>
        </dict>
    </dict>
</plist>
